@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.heading-h1 {
  font-size: 4rem;
}

.heading-h3 {
  font-size: 2rem;
}

.para {
  font-size: 1.5rem;
}

.navbar {
  padding: 0 2rem;
}

:hover.navlinks{
  font-weight: bold;
  text-decoration: underline;
  padding: 2px;
}

.logo{
  font-size: 2.5rem;
  font-family: fantasy;
}

.card{
  padding: 1rem;
}

.homeSection, .category, .wishlist {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.homeSearch {
  display: flex;
}


.btn{
  cursor: pointer;
  color:green;
  background-color: rgb(174, 255, 174);
  padding: 0.3rem 1rem;
  border-radius:1.2rem;
  font-weight: bold;
}
:hover.btn {
  background-color: green;
  color:white; 
}


.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
  padding:0.5rem;
}


.bookCard {
  padding: 1rem 4rem;
}

.bookRight {
  padding: 0rem 4rem;
}