@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
}

.heading-h1 {
  font-size: 3rem;
}

.para {
  font-size: 1.5rem;
}

.homeSection, .category, .wishlist {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.homeSearch {
  display: flex;
}

.btn {
  background-color: green;
  padding: 0.3rem 1rem;
  border-radius:1.2rem;
  color:white;
  font-weight: bold; 
}
:hover.btn{
  cursor: pointer;
  color:green;
  background-color: rgb(174, 255, 174);
}


.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
  padding:0.5rem;
}